[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/kabupen/hugo-theme-stack.git
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/kabupen/blowfish.git
	branch = main
